<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <script src="https://cdn.tailwindcss.com"></script>
        
        <title>{% block title %}{% endblock %} | Graduate Market Place</title>
    </head>

    <body>
        <nav class="py-6 px-6 flex justify-between items-center border-b border-gray-200">
            <a href="/" class="text-xl font-mono">Graduate Market Place</a>
            <div class="space-x-6">
                <a href="{% url 'item:newitem' %}" class="px-4 py-2 text-lg font-mono bg-teal-500 text-white rounded-xl hover:bg-teal-700">Add Item</a>
                <a href="{% url 'item:items' %}" class="px-4 py-2 text-lg font-mono bg-gray-500 text-white rounded-xl hover:bg-gray-700">Browse Items</a>

                {% if request.user.is_authenticated %}
                    <a href="{% url 'chat:inbox' %}" class="px-4 py-2 text-lg font-mono bg-teal-500 text-white rounded-xl hover:bg-teal-700">Inbox</a>
                    <a href="{% url 'dashboard:index' %}" class="px-4 py-2 text-lg font-mono bg-gray-500 text-white rounded-xl hover:bg-gray-700">Dashboard</a>
                    <a href="{% url 'core:signup' %}" class="px-4 py-2 text-lg font-mono bg-teal-500 text-white rounded-xl hover:bg-teal-700">Log Out</a>
                {% else %}
                    <a href="{% url 'core:signup' %}" class="px-4 py-2 text-lg font-mono bg-teal-500 text-white rounded-xl hover:bg-teal-700">Sign up</a>
                    <a href="{% url 'core:login' %}" class="px-4 py-2 text-lg font-mono bg-gray-500 text-white rounded-xl hover:bg-gray-700">Log in</a>
                {% endif %}
            </div>
        </nav>
        <div class="px-6 py-6">
            {% block content %}
            {% endblock %}
        </div>

        <footer class="py-6 px-6 flex justify-between bg-gray-800">
            <div class="w-2/3 pr-10">
                <h3 class="mb-5 font-mono text-gray-400">About</h3>
                <p class="text-lg font-mono text-gray-500">A one-stop marketplace for students to sell and buy used or new products</p>

                <hr class="my-6 py-6">

                <p>&#169; 2023 Polu Tharun Kumar Reddy. All Rights Reserved</p>
            </div>

            <div class="w-1/3">
                <h3 class="mb-5 font-mono text-gray-400">Fast Links</h3>
                <ul class="space-y-2">
                    <li><a href="#" class="text-lg font-mono text-teal-500 hover:text-teal-700">About</a></li>
                    <li><a href="{% url 'core:contact' %}" class="text-lg font-mono text-teal-500 hover:text-teal-700">Contact</a></li>
                    <li><a href="#" class="text-lg font-mono text-teal-500 hover:text-teal-700">Privacy Policy</a></li>
                    <li><a href="#" class="text-lg font-mono text-teal-500 hover:text-teal-700">FAQ</a></li>
                    <li><a href="#" class="text-lg font-mono text-teal-500 hover:text-teal-700">Terms of Usage</a></li>
                </ul>
            </div>
        </footer>
    </body>
</html>