{% extends 'core/base.html' %}

{% block title %}Hello{% endblock %}

{% block content %}

    <section class="text-gray-600 body-font">
        <h2 class="mb-6 mt-12 text-2xl text-center font-mono underline">Latest Items</h2>
        <div class="container px-5 py-15 mx-auto">
          <div class="flex flex-wrap -m-4">
            {% for item in items %}
            <div class="lg:w-1/4 md:w-1/2 p-4 w-full border-x-2 border-y-2">
              <a class="block relative h-48 rounded overflow-hidden" href="{% url 'item:detail' item.id %}">
                <div>
                    <img class="object-cover object-center w-full h-full block" src="{{ item.image.url }}">
                </div>
              </a>
              <div class="mt-4">
                <h2 class="text-gray-900 title-font text-lg font-medium">{{ item.name }}</h2>
                <p class="mt-1">Selling Price: ${{ item.price }}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
    </section>

    <div class="mt-6 px-6 py-12 bg-gray-100 rounded-xl">
        <h2 class="mb-12 text-2xl text-center font-mono underline">Categories</h2>
        <div class="grid grid-cols-3 gap-3">
            {% for category in categories %}
            <div>
                <a href="#">
                    <div class="p-6 bg-white rounded-b-xl">
                        <h2 class="text-2xl font-mono">{{ category.name }}</h2>
                        <p class="text-gray-500 font-mono">{{ category.items.count }} items</p>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
    
{% endblock %}